* {
  -fx-underline: none;
  -fx-user-select: none;
}

.root {
  -fx-font-family:  Arial, Helvetica, Verdana, Tahoma, sans-serif;
  -fx-font-size: 14px;
  -fx-font-weight: normal;
  -fx-antialiasing: subpixel;
  -fx-background-color: -fx-bg-color;
  -fx-font-smoothing-type: gray;
}

.container {
  -fx-background-color: -fx-container-bg;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-effect: -fx-soft-shadow;
  -fx-padding: 14;
}

.container * {
    -fx-background-color: transparent;
}

/***********************
  Base Typography
***********************/
.label {
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 14px;
}

.title {
    -fx-text-fill: -fx-accent-color;
    -fx-font-size: 42;
    -fx-font-weight: 900;
}

.text-field,
.password-field,
.combo-box {
    /*-fx-prompt-text-fill: -fx-text-color;*/
    -fx-background-radius: 10;
    -fx-padding: 10 16;
    -fx-border-color: -fx-text-color;
    -fx-border-radius: 10;
}

.login-text-field,
.login-password-field{
    -fx-padding: 10 16 10 30;
}

FontAwesomeIconView {
    -fx-fill: -fx-text-color;
    -fx-cursor: hand;
}

/***********************
  Buttons
***********************/
.button {
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 10 16;
    -fx-alignment: center;
    -fx-content-display: LEFT; /* icon + text */
    -fx-graphic-text-gap: 8;
    -fx-background-color: -fx-accent-color;
    -fx-text-fill: -fx-button-text-color;
}

.button.outline{
    -fx-background-color: transparent;
    -fx-border-color: -fx-accent-color;
    -fx-text-fill: #111;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.button:hover,
.button:focused,
.button:pressed{
  -fx-background-color: derive(-fx-accent-color, -10%);
}

.button.outline:hover,
.button.outline:focused,
.button.outline:pressed{
    -fx-background-color: derive(-fx-accent-color, -10%);
}

/***********************
  Hyperlinks
***********************/
.hyperlink {
    -fx-text-fill: -fx-text-color;
    -fx-underline: false;
    -fx-font-size: 13px;
    -fx-content-display: LEFT; /* icon + text */
    -fx-graphic-text-gap: 6;
}

.hyperlink:hover {
    -fx-background-radius: 6;
    -fx-background-color: -fx-accent-color;
}

.hyperlink.active {
    -fx-background-radius: 6;
    -fx-background-color: -fx-accent-color;
}

.hyperlink:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
    -fx-border-insets: 0;
    -fx-background-color: -fx-accent-color;
}
