/*************************
Topbar
*************************/
.topbar {
    -fx-effect: -fx-soft-shadow;
    -fx-background-color: -fx-container-bg;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: -fx-container-border-color;
    -fx-border-width: 1;
}