/* =========================
   Global Theme Variables
   ========================= */

/*
.root {
    -app-base-text-color : #0B1220;
    -app-muted-text-color : #4B5563;

    -app-bg-color : #F7FAFF;
    -app-border-color : #DCE6F2;
    -app-surface-color : #FFFFFF;
    -app-surface-hover-color : #F2F2F2;

    -app-primary-color : #4682B4;
    -app-primary-hover-color : #2F6690;
    -app-secondary-color : #1E3A5F;
    -app-accent-color : #2DD4BF;

    -app-soft-shadow: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.2, 0, 2);
    -app-strong-shadow: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 16, 0.3, 0, 4);

    -app-icon-color : #94A3B8;

    -app-success-color : #22C55E;
    -app-error-color : #EF4444;
    -app-warning-color : #F59E0B;
    -app-info-color : #38BDF8;
}
*/

.root {
    -app-base-text-color : #532A09;
    -app-muted-text-color : #4B5563;

    -app-bg-color : #E2D6AC;
    -app-border-color : #C4B28A;

    -app-surface-color : #F5ECD5;
    -app-surface-hover-color : #E8DEC3;

    -app-primary-color : #AD8042;
    -app-primary-hover-color : #8F6935;

    -app-secondary-color : #7B4618;
    -app-accent-color : #2E401C;

    -app-soft-shadow: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.2, 0, 2);
    -app-strong-shadow: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 16, 0.3, 0, 4);

    -app-icon-color : #6B4226;

    -app-success-color : #22C55E;
    -app-error-color : #EF4444;
    -app-warning-color : #F59E0B;
    -app-info-color : #38BDF8;
}
